/*

!/.gitignore
!/.gitattributes
# Not currently used.
# !/.gitmodules
!/README.md

!/.profile
!/.profile.d/

!/.bashrc
!/.bash_profile
!/.bash_logout
!/.hushlogin

!/.vimrc

# Unexclude when token encryption is handled.
# !/.gitconfig
/.gitconfig
!/.gitconfig.user.d/

!/bin/

# !/.subversion/
# # Dir containing plaintext password store.
# /.subversion/auth/svn.simple/

# !/.emacs.d/init.el
# !/.emacs.d/README.md
# !/.emacs.d/snippets/
# !/.emacs.d/elisp/
# !/.emacs.d/
# /.emacs.d/auto-save-list/
# /.emacs.d/backups/
# /.emacs.d/var/
# /.emacs.d/transient/
# /.emacs.d/network-security.data
# # Temporary.
# /.emacs.d/git/

!/data/
!/notes/
!/include/

!/.u

!/.shellcheckrc

# !/.local/share/ranger/bookmarks

# Sensitive files.
# NOTE: Any redundant ignores here are intentional to ensure that the files are not accidentally committed.
# TODO: Implement encryption logic and version these files using configuration in `${U_DIR}/config/u/remotes`.
/.git-credentials
/.netrc
/.ssh/
/.npmrc