*
!.gitignore

" root files
" ----------

!README.md
!.bashrc
!.profile
!.bash_profile
!.bash_logout
!.vimrc
!setup.sh
!dir-prefixes.sh.example

" directories
" -----------

!cmd/
!cmd/*
!cmd/**

!.gitconfig/
!.gitconfig/*
!.gitconfig/**

!.subversion/
!.subversion/*
!.subversion/**
" ignore dir containing plaintext password store
.subversion/auth/svn.simple/*
