/*
!/.gitignore
!/.gitattributes
!/.gitmodules
!/README.md

!/.profile
!/.bashrc
!/.bash_profile
!/.bash_logout
!/.env

!/.vimrc

!/home
!/home.d/
/home.d/unix-home-dir-private/

# Unexclude when token encryption in handled.
# !/.gitconfig
/.gitconfig
!/.gitconfig.user.d/
!/.clang-format

!/.profile.d/

!/sh
!/bin/

!/.subversion/
# Dir containing plaintext password store.
/.subversion/auth/svn.simple/

!/.vim/

!/.githooks/

!/.emacs.d/init.el
!/.emacs.d/README.md
!/.emacs.d/snippets/
!/.emacs.d/elisp/
# !/.emacs.d/
# /.emacs.d/auto-save-list/
# /.emacs.d/backups/
# /.emacs.d/var/
# /.emacs.d/transient/
# /.emacs.d/network-security.data
# # Temporary.
# /.emacs.d/git/

!/resources/
