[user]
	email = rzjznk@gmail.com
	name = rzjnzk
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = emacs
	excludesfile = /home/rzjnzk/.gitignore_global
[commit]
	template = /home/rzjnzk/.gitmessage
